<footer class="footer p-3">
  <div class="content has-text-centered">
    <p>
      <strong>MyPetPlaces</strong> feito por <a href="https://github.com/cintiathieme">Cintia Thieme</a> e <a href="https://github.com/deboranis">Débora Nisenbaum</a> para 
      <a href="https://ironhack.com/br">Ironhack</a>.
    </p>
  </div>
</footer>