<footer class="footer p-3 footer_custom">
  <div class="content has-text-centered">
    <p>
      <strong>MyPetPlaces</strong> feito por <a class="footer_link" target="_blank" href="https://github.com/cintiathieme">Cintia Thieme</a> e <a class="footer_link" target="_blank" href="https://github.com/deboranis">Débora Nisenbaum</a> para 
      <a class="footer_link" target="_blank" href="https://ironhack.com/br">Ironhack</a>.
    </p>
  </div>
</footer>