<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
     <article class="tile is-child notification is-danger">
      <p class="title is-4">Quem somos?</p>
      <p class="subtitle is-6">MyPetPlaces é onde você encontra os melhores lugares para se divertir com seu pet!</p>
     </article>
     <article class="tile is-child notification is-danger">
      <p class="title is-4">O melhor guia pet na palma da sua mão</p>
      <p class="subtitle is-6">Escolha entre restaurantes, hotéis e passeios. Deixe suas críticas e aproveite as dicas de outros
      usuários!</p>
     </article>
  </div>
  </div>
</div>