<div class="card border-danger mb-3" style="max-width: 18rem;">

  <div class="card-body text-danger">
    <h5 class="card-title">Quem somos?</h5>
    <p class="card-text">MyPetPlaces é onde você encontra os melhores lugares para se divertir com seu pet!</p>
  </div>
</div>

<div class="card border-danger mb-3" style="max-width: 18rem;">

  <div class="card-body text-danger">
    <h5 class="card-title">O melhor guia pet na palma da sua mão</h5>
    <p class="card-text">Escolha entre restaurantes, hotéis e passeios. Deixe suas críticas e aproveite as dicas de outros
      usuários!</p>
  </div>
</div>