<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-danger">
          <p class="title">Quem somos?</p>
          <p class="subtitle">MyPetPlaces é onde você encontra os melhores lugares para se divertir com seu pet!</p>
        </article>
        <article class="tile is-child notification is-danger">
          <p class="title">O melhor guia pet na palma da sua mão</p>
          <p class="subtitle">Escolha entre restaurantes, hotéis e passeios. Deixe suas críticas e aproveite as dicas de outros
      usuários!</p>
        </article>
      </div>
    </div>
  </div>
</div>