{{>navbar}}
<div class="box mb-0">
  <p class="has-text-danger is-size-4">Meu dashboard</p>
</div>
<div class="dashboard_container">
<div class="mb-3" id="map" data="{{placesFromDb.[0].coordenadas}}"></div>
<div class="is-hidden">
{{#each placesFromDb}}
<div class="coords">
<p>{{this.coordenadas.lat}}</p>
<p>{{this.coordenadas.lng}}</p>
<p>{{this.nome}}</p>
</div>
{{/each}}
</div>
 
<div class="is-flex is-flex-direction-column">
  <a href="/editUser" class="button is-danger is-outlined m-2">Meu cadastro</a>
  <a href="/myreviews" class="button is-danger is-outlined m-2">Meus reviews</a>
  <a href="/addPlace" class="button is-danger is-outlined m-2">Indicar um lugar</a>
</div>

<div class="is-flex is-flex-direction-column">
  <a href="/places/hoteis" class="button is-danger m-2">Ver hotéis</a>
  <a href="/places/passeios" class="button is-danger m-2">Ver passeios</a>
  <a href="/places/restaurantes" class="button is-danger m-2">Ver restaurantes </a>
</div>
</div>
{{>footer}}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBd2m3QaZ0NpTejf3RJP45RxPews0tiIk"></script>
<script src="https://maps.googleapis.com/maps/api/geocode/js?key=AIzaSyBBd2m3QaZ0NpTejf3RJP45RxPews0tiIk"></script>
<script src="scripts/map.js"></script>