{{>navbar}}
<div class="has-background-danger-light py-5">
  <p class="title is-1 is-spaced has-text-centered has-text-danger has-background-danger-light">Meu dashboard</p>
</div>
<div class="is-flex is-flex-direction-column">
  <button class="button is-danger is-outlined">Meu cadastro</button>
  <button class="button is-danger is-outlined">Meus reviews</button>
  <button class="button is-danger is-outlined">Indicar um lugar</button>
</div>

<div class="is-flex is-flex-direction-column">
  <button class="button is-danger">Ver hotéis</button>
  <button class="button is-danger">Ver passeios</button>
  <button class="button is-danger">Ver </button>
</div>
{{>footer}}