<form action="/editUser" method="post">
  <div class="field">
    <label class="label">Nome completo</label>
    <div class="control">
      <input class="input" type="text" name="nome" placeholder="Text input" value="{{userInfos.nome}}">
    </div>
  </div>

  <div class="field">
    <label class="label">Senha</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-success" type="text" name="senha" placeholder="Text input" value="{{userInfos.senha}}">
      <span class="icon is-small is-left">
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
    <p class="help is-success">Senha segura</p>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-danger" type="email" name="email" placeholder="Email input" value="{{userInfos.email}}">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    <p class="help is-danger">This email is invalid</p>
  </div>

  {{!-- <div class="field">
    <label class="label">Estado</label>
    <div class="control">
      <div class="select">
        <select name="estado">
          <option>Selecione</option>
          <option>With options</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Cidade</label>
    <div class="control">
      <div class="select">
        <select name="cidade">
          <option>Selecione</option>
          <option>With options</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox">
        I agree to the <a href="#">terms and conditions</a>
      </label>
    </div>
  </div> --}}

  <div class="field is-grouped">
    <div class="control">
      <button type="submit" class="button is-link">Confirmar</button>
    </div>
</form>
    <div class="control">
      <form action="/removeUser" method="post"><button class="button is-link is-light">Excluir Conta</button></form>
    </div>
  </div>