{{>navbar}}
<div class="box">
  <h3 class="is-size-5 mb-4">Se você quer alterar seus dados de cadastro, utilize os campos abaixo:</h3>
<form action="/editUser" method="post">
  <div class="field">
    <label class="label">Nome completo</label>
    <div class="control">
      <input class="input" type="text" name="nome" placeholder="Text input" value="{{userInfos.nome}}">
    </div>
  </div>
  
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email" name="email" placeholder="Email" value="{{userInfos.email}}">
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button type="submit" class="button is-danger">Confirmar</button>
    </div>
</form>
<div class="control">
  <form action="/removeUser" method="post"><button class="button is-danger is-light">Excluir Conta</button></form>
</div>
</div>
</div>

{{>footer}}