{{>navbar}}
{{#each}}
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Nome do Lugar
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      Descrição da review: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      <br>
      <time datetime="2016-1-1">data da review</time>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Editar</a>
    <a href="#" class="card-footer-item">Apagar</a>
  </footer>
</div>
{{/each}}
{{>footer}}