{{>navbar}}

<form class="box" action="/addReview/{{placeFromDb.id}}" method="post">
<h3 class="is-size-4"> </h3>
  <p>Insira sua review sobre {{placeFromDb.nome}}. Quanto mais detalhada, melhor! :)</p>
  <textarea class="textarea mt-3" placeholder="Insira sua review" name="review"></textarea>
  <button class="button is-danger mt-3" type="submit">Adicionar avaliação</button>
</form> 

{{>footer}}