{{>navbar}}

<form class="box" action="/addReview/{{placeFromDb.id}}" method="post">
<h3> {{placeFromDb.nome}}</h3>
    <textarea class="textarea" placeholder="Insira sua review" name="review"></textarea>
    <button class="button is-danger" type="submit">Adicionar avaliação</button>
</form> 

{{>footer}}