{{>navbar}}
<form action="/register" method="post" class="box">
  {{#if emptyField}}
  <span class="warning">{{emptyField}}</span>
  {{/if}}
  {{#if errorMessage}}
  <span class="warning">{{errorMessage}}</span>
  {{/if}}
  <div class="field">
    <label class="label">Nome completo</label>
    <div class="control">
      <input class="input" type="text" name="newName" placeholder="Insira seu nome completo">
    </div>
  </div>

  <div class="field">
    <label class="label">Senha</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="password" name="newPassword" placeholder="Insira sua senha">
      {{#if passwordError}}
      <span class="warning">{{passwordError}}</span>
      {{/if}}
    </div>
    <p class="help is-danger">Sua senha precisa ter ao menos 6 caracteres.</p>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" name="newEmail" placeholder="Insira seu email">
      {{#if emailError}}
      <span class="warning">{{emailError}}</span>
      {{/if}}
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button type="submit" class="button is-danger">Cadastrar</button>
    </div>
</form>
<div class="control">
  <form action="/cancel" method="get">
    <button class="button is-danger is-light">Cancelar</button>
  </form>
</div>
</div>
{{>footer}}