.warning {
    color: red;
  
html {
    background-color: #FEECF0;
    height: 100%;
}

.footer_custom {
    bottom: 0;
    position: relative;
}

.footer_link {
    color: #F14668;
}

.addplace_container, .dashboard_container {
    padding: 20px;
}

#mapid { 
    height: 180px; 
}