.warning {
    color: red;
}

html {
    background-color: #FEECF0;
    height: 100%;
}

.footer_custom {
    bottom: 0;
    margin-top: auto;
    position: relative;
}

.footer_link {
    color: #F14668;
}

.addplace_container, .dashboard_container {
    padding: 20px;
}

#map { 
    height: 180px; 
}  